<h1>Create a new figure</h1>

<form action="/figures" method="post">
  <label for="figure_name">Name</label><br>
  <input type="text" name="figure[name]" id="figure_name"><br></br>

  <label>Titles</label><br>
  <% Title.all.each do |title| %>
    <input type="checkbox" name="figure[title_ids][]" id="title_<%= title.id %>" value="<%= title.id %>"><%= title.name %></input>
  <% end %><br></br>
  <label>Landmarks</label><br>
  <% Landmark.all.each do |landmark| %>
    <input type="checkbox" name="figure[landmark_ids][]" id="landmark_<%= landmark.id %>" value="<%= landmark.id %>"><%= landmark.name %></input>
  <% end %><br></br>

  <h3>Create new title or Landmark</h3>
  <label>Create a new Title</label><br>
  <input type="text" id="new_title" name="title[name]"><br></br>

  <label>Create a new Landmark</label><br>
  <label>Name</label><input type="text" id="new_landmark" name="landmark[name]"><br>
  <label>Year Completed</label><input type="text" name="landmark[year_completed]"><br></br>


  <input type="submit" value="Create New Figure">

</form>
