<h1><%= @figure.name %></h1>

<h2>Landmarks</h2>
<ul>
  <% @figure.landmarks.each do |landmark| %>
    <li><a href="/landmarks/<%= landmark.id %>"><%= landmark.name %></a>- <%= landmark.year_completed %></li>
<% end %>
</ul>

<h2>Titles</h2>
<ul>
  <% @figure.titles.each do |title| %>
    <li><%= title.name %></li>
  <% end %>
</ul>
